.cinema-cards {
  margin-bottom: 62.67px;
  h2 {
    padding-left: 16px;
    color: #666;
  }

  h1 {
    text-align: start;
    color: #333;
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  color: #333;
}

.cinema-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  margin-top: 8px;

  .cinema-card-location {
    text-align: start;
    color: #333;
  }

  .cinema-card-image {
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

  .cinema-card-extras {
    p {
      color: #333;
      text-align: center;
      margin-top: 4px;
      margin-bottom: 0;
    }
  }
}
