.cinema-index-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), asset-url('background-seats.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: repeat-y;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cinema-index-contents {
  margin-bottom: 32px;
  padding: 0 16px;

  .index-search {
    color: #FBF7F5;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding-top: 12px;

    .form-control {
      padding: 0.375rem 1rem;
    }

    .d-flex {
      width: 100%;
      padding-top: 0;
      margin: 0;
    }

    .btn-primary {
      color: #FBF7F5;
      background-color: #FF0000;
      border: none;
    }
  }

  .list-map-view {
    display: flex;
    justify-content: center;
    background-color: rgba(162, 158, 158, 0.206);
    padding: 4px;
    width: 100%;
    border-radius: 30px;
  }

  .default-link,
  .map-link {
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
  }

  .default-link:hover,
  .map-link:hover {
    background-color: rgba(152, 33, 44, 0.65);
  }

  .active {
    background-color: rgba(152, 33, 44, 0.65);
    color: white;
  }

  .nav-link {
    text-decoration: none;
    color: inherit;
  }

  h2 {
    padding-top: 8px;
    padding-left: 16px;
    color: #d6d0cd;
  }

  a {
    text-decoration: none;
    color: #FBF7F5;
  }

  .cinema-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: rgba(152, 33, 44, 0.65);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    color: #FBF7F5;

    .cinema-card-location {
      text-align: start;

    }

    .cinema-card-image {
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
    }

    .cinema-card-extras {
      p {

        text-align: center;
        margin-top: 4px;
        margin-bottom: 0;
      }
    }
  }
}
