.profile-edit-form {
  background-color: #FBF7F5;
  color: #333;
  border-radius: 2px;

  .form-input {
    
  }
}

.back-btn {
  display: flex;
  justify-content: flex-end;
  display: inline-block;
  border-radius: 8px;
  margin-right: 10px;
  width: auto;
  white-space: nowrap;
  align-self: center;
  a {
    color: #ff0000;
    font-size: smaller;
    text-decoration: none;
  }
}

.review-title {
  margin-top: 20px;
  margin: 0 auto;
  color: #333;
  text-align: center !important;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
}

.review-new-card {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    background-color: #FBF7F5;
    border: 1px solid rgba(152, 33, 44, 0.65);
    font-size: 14px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    padding: 16px;
  }
}

.btn.btn-gradient {
  color: #fbf7f5;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#ff0000, rgb(223, 0, 0));
  transition: background 0.3s ease;
  border: 1px solid #b00000;
}

.btn.btn-gradient:hover {
  background: linear-gradient(rgb(223, 0, 0), #ff0000);
  color: #fbf7f5;
}

.cancel-btn {
  color: #fbf7f5;
  padding: 6px 18px;
  border-radius: 4px;
  font-size: smaller;
  font-weight: bold;
  background: linear-gradient(#ff0000, rgb(223, 0, 0));
  transition: background 0.3s ease;
  border: 1px solid #b00000;
}

a {
  text-decoration: none;
  color: #FBF7F5;
}
