.favourite-index-content {
  color: #FBF7F5;
  padding: 0 16px;
  color: #333;
  width: 100%;
  max-width: 484px;

  h1 {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .no-favourite-message {
    margin-top: 16px;
    text-align: center;
  }

  @media (min-width: 768px) {
    width: 484px;
    margin-left: auto;
    margin-right: auto;
  }
}

.favourite-cinema-cards {
  .favourite-card-content {
    position: relative;

    .top-pick-card {
      overflow: hidden;
      height: 104px;
      background-color: #FBF7F5;
      border: 1px solid rgba(152, 33, 44, 0.65);
      display: flex;
      align-items: center;
      padding: 4px;
      margin: 8px 0;
      border-radius: 2px;

      img {
        height: 96px;
        width: 96px;
        object-fit: cover;
      }

      h4 {
        font-size: 16px;
        margin: 0;
        width: 90%;
      }

      p {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 0;
        margin-top: 4px;
      }

      .top-pick-details {
        margin-left: 8px;
      }

      .favourite-name-delete {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }

    button.delete-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 12px;
    }
    
    .fa-x {
      font-size: 12px;
      font-weight: bolder;
      color:#FF0000;
      background:#FBF7F5;
    }
  }
}
