// Specific CSS for your home-page _home.scss
body {
  background-color: #FBF7F5;
}

.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('background-seats.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .home-contents .home-banner-text {
    text-align: center;

    h1 {
    color: #FBF7F5;
    font-size: 28px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-top: 24px;
    }

    .seated-banner-text {
      font-family: $logo-font;
      font-weight: 700;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #FF0000;
      border-radius: 5px;
      color: #FBF7F5;
      font-family: $logo-font;
      font-size: 24px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      margin: 16px 0;
    }
  }
}

.home-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: rgb(152, 33, 44);
  padding: 0 16px;
}

.home-welcome-message {
  color: #FBF7F5;
}

.home-top-picks {
  color: #333;

  h2 {
    color: #FBF7F5;
  }

  .top-pick-card {
    overflow: hidden;
    height: 104px;
    background-color: rgba(152, 33, 44, 0.65);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 8px 0;
    border-radius: 2px;
    color: #FBF7F5;
    text-decoration: none;

    img {
      height: 100%;
      width: 96px;
      object-fit: cover;
    }

    h4 {
      font-size: 16px;
      margin: 0;
    }

    p {
      font-size: 12px;
      line-height: 1.4;
      margin-bottom: 0;
      margin-top: 4px;
    }

    .top-pick-details {
      margin-left: 8px;

      .homepage-average-rating {
        display: inline-block; /* Keep it inline */
        position: relative; /* Set to relative for positioning */
        margin-top: 5px; /* Change margin to 5px to create space above */
        z-index: 1; /* Lower z-index so it's behind navbar and header */
      }

      .homepage-average-rating .red-rating-image {
        width: 10px; /* Width of the red rating image */
        height: 10px; /* Height of the red rating image */
      }

      .homepage-average-rating .partial-red-rating-image {
        width: 10px; /* Width of the partial red rating image */
        height: 10px; /* Height of the partial red rating image */
        overflow: hidden; /* Hide overflow */
        display: inline-block; /* Display inline */
        clip-path: inset(0 5px 0 0); /* Clip 5px from the right */
      }

      /* Future use for grey rating image */
      .homepage-average-rating .grey-rating-image {
        width: 10px; /* Width of the grey rating image */
        height: 10px; /* Height of the grey rating image */
      }

    }
  }
}

.home-recent-reviews {
  margin-top: 16px;

  h2 {
    color: #FBF7F5;
  }

  a {
    text-decoration: none;
  }

  .cinema-review-card {
    background-color: rgba(152, 33, 44, 0.65);
  }
}

.cinema-review-card {
  padding: 8px 16px;
  margin-bottom: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin: 8px 0;
  color: #FBF7F5;
  text-decoration: none;

  .recent-user-date, .recent-name-rating{
    display: flex;
    justify-content: space-between;
  }

  p {
    margin-bottom: 0;
  }

  .review-card-rating {
    display: flex;
    justify-content: start;

    .review-form-data{
      color: #FF0000;
    }
  }

  .review-screen-details {
    display: flex;
    justify-content: space-between;

    .review-form-data{
      color: #FF0000;
    }
  }

  .review-card-content {
    text-align: center;
  }
}

//

.home-about {
  padding: 8px;
  color: #FBF7F5;

  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 16px;
  }
}
