// Specific CSS for your home-page _home.scss
body {
  background-color: #FBF7F5;
}

.home-banner {
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('background-seats.jpg');
  // background-size: cover;
  // background-position: center center;
  // background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  color: #333;
}

.home-welcome-message {
  margin-top: 16px;

  p {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn.btn-gradient {
      padding: 4px 8px;
      font-weight: 400;
    }
  }
}

.home-top-picks {

  .top-pick-card {
    overflow: hidden;
    height: 104px;
    background-color: #FBF7F5;
    border: 1px solid rgba(152, 33, 44, 0.65);
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 8px 0;
    border-radius: 2px;
    color: #333;
    text-decoration: none;

    img {
      height: 100%;
      width: 96px;
      object-fit: cover;
    }

    .top-pick-details {
      margin-left: 8px;

      h4 {
        font-size: 16px;
        margin: 0;
      }
  
      p {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 0;
        margin-top: 4px;
      }
    }
  }
}

.home-contents .home-banner-text {
  text-align: center;

  h1 {
  font-size: 28px;
  margin-top: 24px;
  }

  .seated-banner-text {
    font-family: $logo-font;
    font-weight: 700;
  }

  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000;
    border-radius: 5px;
    color: #FBF7F5;
    font-family: $logo-font;
    font-size: 24px;
    margin: 16px 0;
  }
}

// review card SCSS in components/_review_card.scss

.home-about {
  padding: 8px;
  border-top: 1px solid rgba(152, 33, 44, 0.65);
  text-align: center;

  h1 {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 16px;
  }
}
