// Specific CSS for your home-page _home.scss
body {
  background-color: #FBF7F5;
}

.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('background-seats.jpg');
  // background-size: auto 500%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .home-banner-text {
    text-align: center;

    h1 {
    color: #FBF7F5;
    font-size: 28px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }

    .seated-banner-text {
      font-family: $logo-font;
      font-weight: 700;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: rgba(152, 33, 44, 0.7);
      border-radius: 5px;
      color: #FBF7F5;
      font-size: 16px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      text-decoration: none; 
      margin-top: 10px;
    }
  }
}

.home-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: rgb(152, 33, 44);
  padding: 0 16px;
}

.home-welcome-message {
  color: #FBF7F5;
}

.home-top-picks {
  color: #333;

  h2 {
    color: #FBF7F5;
  }

  .top-pick-card {
    overflow: hidden;
    height: 88px;
    background-color: rgba(152, 33, 44, 0.65);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 8px 0;
    border-radius: 2px;
    color: #FBF7F5;
  
    img {
      height: 100%;
      width: 80px;
      object-fit: cover;
    }
  
    h4 {
      font-size: 16px;
      margin: 0;
    }
  
    p {
      font-size: 12px;
      line-height: 1.4;
      margin-bottom: 0;
      margin-top: 4px;
    }
  
    .top-pick-details {
      margin-left: 8px;
    }
  }
}

.home-contents {
  .home-banner-text {
    text-align: center;

    h1 {
    color: #FBF7F5;
    font-size: 28px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-top: 24px;
    }

    .seated-banner-text {
      font-family: $logo-font;
      font-weight: 700;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: rgba(152, 33, 44, 0.7);
      border-radius: 5px;
      color: #FBF7F5;
      font-size: 16px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      text-decoration: none; 
      margin: 8px 0;
    }
  }
}


.home-recent-reviews {
  h2 {
    color: #FBF7F5;
  }

  .cinema-review-card {
    padding: 8px 16px;
    margin-bottom: 12px;
    background-color: rgba(152, 33, 44, 0.65);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 8px 0;
    color: #FBF7F5;

    .recent-user-date, .recent-name-rating{
      display: flex;
      justify-content: space-between;
    }

    p {
      margin-bottom: 0;
    }

    .review-card-rating {
      display: flex;
      justify-content: start;

      .review-form-data{
        color: #FF0000;
      }
    }

    .review-screen-details {
      display: flex;
      justify-content: space-between;
    
      .review-form-data{
        color: #FF0000;
      }
    }

    

    .review-card-content {
      text-align: center;
    }
  }
}

//

.home-about {
  padding: 8px;
  color: #FBF7F5;

  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 16px;
  }
}
