// Import page-specific CSS files here.
@import "home";
@import "cinemas";
@import "show";
@import "new";
@import "favourites";
@import "edit";
@import "profile";
@import "notifications";
@import "map";
@import "popup";


.auth-links {
  color: #FF0000;
  text-decoration: none;
}

.login-form h2 {
  color: #333;
}


.profile-edit-back {
  a {
    color: #333;
    text-decoration: none;
    margin-left: 14px;
  }
}

.profile-edit-cancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 14px;

  .cancel-btn {
    margin-left: 8px;
  }
}