.review-form-contents {
  padding: 0 8px;
}

.back-btn {
  margin-top: 16px;

  p {
    margin-bottom: 0;
    font-size: 14px;
    color: #FF0000;
  }
}

.review-title {
  margin-top: 20px;
  margin: 0 auto;
  color: #333;
  text-align: center !important;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 10px;
  font-weight: 700;
}

.review-new-card {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    background-color: #FBF7F5;
    border: 1px solid rgba(152,33,44,0.65);
    font-size: 14px;
    margin-top: 5px;
    padding: 16px;
  }

  .form-group input[name*="seat"],
  .form-group input[name*="pref_seat"] {
    text-transform: capitalize;  // Capitalizes the first letter of each word
  }
}

.btn.btn-gradient {
  color: #fbf7f5;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#ff0000, rgb(223, 0, 0));
  transition: background 0.3s ease;
  border: 1px solid #b00000;
}

.logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  font-size: 14px;
  padding: 16px;
  color: black;
}
