.notification-item {
    // border: 1px solid #ddd;
    color: #333;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #FBF7F5;
  }
  
  .notification-actions {
    margin-top: 10px;
  }