.profile-contents {
  color: #FBF7F5;
  padding: 0 16px;
}

.profile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.profile-image-name {
  display: flex;
  align-items: center;

  .profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .profile-username {
    margin-left: 16px;

    h2 {
      margin-bottom: 0;
    }
  }
}

.profile-bio {
  display: flex;
  align-items: start;
  background-color: rgba(152, 33, 44, 0.65);
  margin-top: 8px;
  padding: 8px;
  border-radius: 2px;
  color: #FBF7F5;

  p {
    margin: 0;
  }

  .profile-bio-edit {
    width: 100%;
    margin-left: 8px;
    border: 1px solid;
    border-color: #63151D;
    color: #FBF7F5;
  }
}

.profile-actions {
  display: flex;
  flex-direction: column;
  align-items: start;
  .edit-profile {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #FBF7F5;
  }
  .log-out {
    text-decoration: none;
    color: #ff0000;
  }
}

.profile-top-picks {
  margin-top: 24px;

  h2 {
    color: #FBF7F5;
  }

  .top-pick-card {
    overflow: hidden;
    height: 88px;
    background-color: rgba(152, 33, 44, 0.65);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 8px 0;
    border-radius: 2px;
    color: #FBF7F5;
    text-decoration: none;

    img {
      height: 100%;
      width: 80px;
      object-fit: cover;
    }

    h4 {
      font-size: 16px;
      margin: 0;
    }

    p {
      font-size: 12px;
      line-height: 1.4;
      margin-bottom: 0;
      margin-top: 4px;
    }

    .top-pick-details {
      margin-left: 8px;

      .homepage-average-rating {
        display: inline-block; /* Keep it inline */
        position: relative; /* Set to relative for positioning */
        margin-top: 1px; /* Change margin to 1px to create space above */
        z-index: 1; /* Lower z-index so it's behind navbar and header */

        .red-rating-image {
          width: 20px; /* Changed width of the red rating image to 20px */
          height: 20px; /* Changed height of the red rating image to 20px */
        }

        .half-red-rating-image {
          width: 20px; /* Changed width of the half red rating image to 20px */
          height: 20px; /* Changed height of the half red rating image to 20px */
          overflow: hidden; /* Hide overflow */
          display: inline-block; /* Display inline */
          clip-path: inset(0 6.5px 0 0); /* Clip 6.5px from the right */
        }

        .average-rating-number {
          font-size: 12px; /* Changed font size to 10px */
        }
      }
    }
  }
}

.profile-past-reviews {
  margin-top: 24px;

  h3 {
    color: #FBF7F5;
  }

  a {
    text-decoration: none;
  }

  .cinema-review-card {
    background-color: rgba(152, 33, 44, 0.65);
    margin: 0;
    margin-bottom: 16px;
  }
}

.profile-sign-out {
  .btn-danger {
    color: #FBF7F5;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin-right: 8px;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // padding: 8px;

  // .home-login-btn {
  //   margin-top: 24px;

  //   .btn-primary {
  //     display: block;
  //     color: #FBF7F5;
  //     background-color: rgb(152, 33, 44);
  //     border-color: rgb(152, 33, 44);
  //   }
  // }

  // .home-signup-btn {
  //   p {
  //     text-align: center;
  //     margin-top: 24px;
  //     margin-bottom: 4px;
  //   }

  //   .btn-success {
  //     display: block;
  //     color: #FBF7F5;
  //     background-color: rgb(152, 33, 44);
  //     border-color: rgb(152, 33, 44);

  //   }
  // }
}
