.profile-contents {
  color: #333;
  padding: 0 16px;
  width: 100%;
  max-width: 484px;

  @media (min-width: 768px) {
    width: 484px;
    margin-left: auto;
    margin-right: auto;
  }
}

.profile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.profile-image-name {
  display: flex;
  align-items: center;

  .profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-username {
    margin-left: 16px;

    h2 {
      margin-bottom: 0;
    }
  }
}

.profile-bio {
  display: flex;
  align-items: start;
  margin-top: 8px;
  padding: 8px;
  border-radius: 2px;
  border-bottom: 1px solid rgba(152, 33, 44, 0.65);
  padding-bottom: 20px;

  p {
    margin: 0;
  }

  .profile-bio-edit {
    width: 100%;
    margin-left: 8px;
    border: 1px solid;
    border-color: #FBF7F5;
  }
}

.profile-actions {
  display: flex;
  font-size: 24px;

  .edit-profile {
    text-decoration: none;
    color: #5FD958;
    margin-right: 24px;
    
  }

  .log-out {
    text-decoration: none;
    color: #ff0000;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline;
  }
}

.profile-top-picks {
  margin-top: 16px;

  .no-review-message {
    text-align: center;
  }

  .top-pick-card {
    overflow: hidden;
    height: 104px;
    background-color: #FBF7F5;
    border: 1px solid rgba(152, 33, 44, 0.65);
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 8px 0;
    border-radius: 2px;
    text-decoration: none;

    img {
      height: 96px;
      width: 96px;
      object-fit: cover;
    }

    h4 {
      font-size: 16px;
      margin: 0;
    }

    p {
      font-size: 12px;
      line-height: 1.4;
      margin-bottom: 0;
      margin-top: 4px;
    }

    .top-pick-details {
      margin-left: 8px;
    }
  }
}

.profile-past-reviews {
  h2 {
    margin-bottom: 8px;
    margin-left: 0;
  }

  .no-review-message {
    text-align: center;
  }
}

.profile-sign-out {
  .btn-danger {
    color: #FBF7F5;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin-right: 8px;
  }
}
