.profile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-image-name {
  display: flex;
  align-items: center;
  margin-top: 16px;

  .profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .profile-username {
    margin-left: 16px;

    h2 {
      margin-bottom: 0;
    }
  }
}

.profile-bio {
  display: flex;
  align-items: start;
  margin-top: 8px;

  p {
    margin: 0;
  }

  .profile-bio-edit {
    margin-left: 8px;
    background-color: white;
  }
}

.profile-past-reviews {
  h3 {
    margin-top: 16px;
  }

  .cinema-review-card {
    color: #333;
    margin: 0;
    margin-bottom: 16px;
  }
}

.profile-sign-out {
  .btn-danger {
    color: #333;
    background-color: #FBF7F5;
    border-color: #FBF7F5;
    padding: 0;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // padding: 8px;

  // .home-login-btn {
  //   margin-top: 24px;

  //   .btn-primary {
  //     display: block;
  //     color: #FBF7F5;
  //     background-color: rgb(152, 33, 44);
  //     border-color: rgb(152, 33, 44);
  //   }
  // }

  // .home-signup-btn {
  //   p {
  //     text-align: center;
  //     margin-top: 24px;
  //     margin-bottom: 4px;
  //   }

  //   .btn-success {
  //     display: block;
  //     color: #FBF7F5;
  //     background-color: rgb(152, 33, 44);
  //     border-color: rgb(152, 33, 44);
      
  //   }
  // }
}
  