
.cinema-show-card {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  background-color: #FBF7F5;
  // box-shadow: 0 0 4px rgba(0,0,0,0.1);
  margin-top: 16px;
  color: #333;
  border-radius: 2px;

  h1 {
    margin-bottom: 4px;
  }

  p {
    margin-bottom: 8px;
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .cinema-show-links
    .show-add-favourite {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      align-items: center;
      color: #FBF7F5;

      a {
        color: #FBF7F5;
        text-decoration: none;
      }

      .review-new-btn {
        display: inline-block;
        color: #FBF7F5;
        padding: 6px 12px;
        background-color: #FF0000;
        border-radius: 4px;
        margin-bottom: 0;
      }

      .favourite-toggle-btn {
        font-size: 32px;
        color: #FF0000;
        margin-right: 8px;
        background-color: transparent;
      }

      .favourite-toggle-form {
        background: none;
        border: none;
        background-color: transparent;
      }
    }

  .cinema-back-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .show-back-btn {
    a {
      color: #333;
      text-decoration: none;
      font-size: 16px;
    }
  }

  .cinema-show-average p {
    margin-bottom: 0;
    color: #333;
  }
}

.review-filters {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 4px;
}
