
.cinema-show-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgba(152, 33, 44, 0.65);
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  margin-top: 16px;
  color: #FBF7F5;
  border-radius: 2px;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .cinema-show-links
    .show-add-favourite {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      align-items: center;
      color: #FBF7F5;

      a {
        color: #FBF7F5;
        text-decoration: none;
      }

      .review-new-btn {
        display: inline-block;
        color: #FBF7F5;
        padding: 6px 12px;
        background-color: #FF0000;
        border-radius: 4px;
        margin-bottom: 0;
      }

      .favourite-toggle-btn {
        // height: 32px;
        // width: 32px;
        font-size: 32px;
        color: #FF0000;
        margin-right: 8px;
      }

      .favourite-toggle-form {
        background: none;
        border: none;

      }
    }

  .cinema-back-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .show-back-btn {
    a {
      color: #FBF7F5;
      text-decoration: none;
    }
  }

  .cinema-show-average p {
    margin-bottom: 0;
  }
}

.cinema-review-cards {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  padding-top: 8px;
  padding-bottom: 16px;
  margin-top: 8px;
  margin-bottom: 62.67px;

  h2 {
    color: #FBF7F5;
    padding-left: 8px;
    margin-bottom: 0;
  }

  .cinema-review-card {
    padding: 16px;
    background-color: rgba(152, 33, 44, 0.65);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FBF7F5;
    margin-bottom: 0;
    margin-top: 12px;
    .review-image {
      margin: 10px;
      border-radius: 8px;
    }
  }


  .cinema-vote-comment {
    display: flex;
    // justify-content: space-between;
    align-items: start;
  }

  .review-vote {
    display: flex;
    align-items: center;

    .review-vote-count {
      padding-left: 8px;
      color: #FBF7F5;

      p {
        margin-bottom: 0;
      }
    }

  .vote-button {
    color: #FF0000;
    font-size: 32px;
  }

  .btn-primary {
    color: #FBF7F5;
    background-color: #FF0000;
    border-color: #FF0000;
  }

  .btn-danger {
    color: #FBF7F5;
    background-color: #333;
    border-color: #333;
  }
  }

  .review-comment {
    color: #FBF7F5;

    .btn-link {
      color: #FBF7F5;
      text-decoration: none;
    }

    h3 {
      font-size: 20px;
      // text-align: center;
      text-shadow: 2px 2px 4px rgba(0,0,0,1);
    }

    p {
      margin-bottom: 0;
    }

    .form-floating {
      color: #333;
      font-size: 12px;
    }

    .form-control {
      font-size: 12px;
    }

    .btn-primary {
      color: #FBF7F5;
      background-color: #FF0000;
      border-color: #FF0000;
      font-size: 12px;
      padding: 19px;
    }

    .comment-time-delete {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      .btn {
        padding: 4px 14px;
        font-size: 12px;
        color: #FBF7F5;
        background-color: #FF0000;
        border-color: #FF0000;
      }
    }
  }
}

.hidden {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.comments {
  height: auto;
  opacity: 1;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}
