
.cinema-show-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgba(152, 33, 44, 0.65);
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  margin-top: 16px;
  color: #FBF7F5;
  border-radius: 2px;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .cinema-show-links
    .show-add-favourite {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      align-items: center;
      color: #FBF7F5;

      a {
        color: #FBF7F5;
        text-decoration: none;
      }

      .review-new-btn {
        display: inline-block;
        color: #FBF7F5;
        padding: 6px 12px;
        background-color: #FF0000;
        border-radius: 4px;
        margin-bottom: 0;
      }

      .favourite-toggle-btn {
        font-size: 32px;
        color: #FF0000;
        margin-right: 8px;
        background-color: transparent;
      }

      .favourite-toggle-form {
        background: none;
        border: none;
        background-color: transparent;
      }
    }

  .cinema-back-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .show-back-btn {
    a {
      color: #FBF7F5;
      text-decoration: none;
    }
  }

  .cinema-show-average p {
    margin-bottom: 0;


  }
}

.cinema-review-cards {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  padding-top: 8px;
  padding-bottom: 16px;
  margin-top: 8px;
  margin-bottom: 62.67px;

  .review-profile-pic {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  .review-screen-details p {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0;
  }
  
  .review-icon {
    margin-right: 5px;
  }
  
  .icon-class {
    width: 32px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
  }

  h2 {
    color: #FBF7F5;
    padding-left: 8px;
    margin-bottom: 0;
  }

  .cinema-review-card {
    padding: 16px;
    background-color: rgba(152, 33, 44, 0.65);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FBF7F5;
    margin-bottom: 0;
    margin-top: 12px;
    line-height: 1.3;

    p {
      // margin-top: 8px;
    }

    .review-card-media {
      display: flex;
      align-items: start;
    }
 
    .img-thumbnail {
      background-color: transparent;
      border: none;
      
    }
    .review-image {
      display: block;
      padding: 0;
      border-radius: 8px;
      margin-right: 4px;
    }
  }


  .cinema-vote-comment {
    display: flex;
    // justify-content: space-between;
    align-items: start;
    margin-top: 8px;
  }

  .review-vote {
    display: flex;
    align-items: center;

    .review-vote-count {
      padding-left: 4px;
      color: #FBF7F5;

      p {
        margin-bottom: 0;
      }
    }

    .vote-button-down, .vote-button-up {
      color: #FF0000;
      padding: 0;
      background-color: transparent;
      border: none;
    }

    .vote-button-up i {
      margin-top: 8px;
    }

    .vote-button-down i, .vote-button-up i {
      margin: 0;
      padding: 0;
      font-size: 40px;
      text-align: center;
      display: inline-block;
      background: none;
      border: none;
    }
}

  .review-comment {
    color: #FBF7F5;
    // margin-top: 6px;

    .btn-link {
      color: #FBF7F5;
      text-decoration: none;
      margin: 8px;
      margin-right: 0;
      padding: 0;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 0;
      text-shadow: 2px 2px 4px rgba(0,0,0,1);
    }

    p {
      margin-bottom: 0;
    }

    .form-floating {
      color: #333;
      font-size: 12px;
      width: 65%;
      margin-left: auto;
    }

    .form-control {
      font-size: 12px;
    }

    .btn-primary {
      color: #FBF7F5;
      background-color: #FF0000;
      border-color: #FF0000;
      font-size: 12px;
      padding: 19px;
    }

    .comment-time-delete {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      .btn {
        padding: 4px 14px;
        font-size: 12px;
        color: #FBF7F5;
        background-color: #FF0000;
        border-color: #FF0000;
      }
    }
  }
}

.hidden {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.comments {
  height: auto;
  opacity: 1;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}
