<div class="cinema-index-background">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="favourite-index-content">

          <h1>Your Favourites</h1>

          <div class="favourite-cinema-cards">
            <div class="home-top-picks" id="favourites">
              <%= render "favourites/list", favourites: @favourites %>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
