<div class="header" style="position: sticky; top: 0; width: 100%;">
  <div class="container-fluid" style="justify-content: center;">
    <div class="header-logo">
      <h1>Seated</h1>
      <%= image_tag "seated-chair-no-background.png", alt:"Logo Seat", class: "header-logo-seat"%>
    </div>
  </div>
</div>

