.header {
  background: #fbf7f5;
  padding-top: 32px;
  padding-bottom: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-family: $logo-font;
  }

  .header-logo-seat {
    width: 25px;
    height: 32px;
  }
}

// .header-logo-link {
//   text-decoration: none;
//   color: inherit;
//   display: flex;
//   align-items: center;
// }
